.slideLeft {
  margin-left: -1000px;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.slideLeft + ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.hideCenter {
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.slideRight {
  margin-left: 2000px;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  margin-top: 0;
  white-space: nowrap;
}

.noMove {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
}

ul {
  list-style-type: none;
  padding-left: 40;
  overflow: hidden
}

li {
  margin-left: 0;
  max-height: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  max-width: 1000px;
  overflow: hidden;
}

h1 {
  margin-left: 0;
  max-height: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  max-width: 500px;
  padding-left: 40px;
}

h2 {
  margin-left: 0;
  max-height: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  max-width: 500px;
}

.set-name-list {
  list-style-type: none
}

.dominionator-submit {
  margin-left: 40px;
}
.dominionator-veto {
  margin-left: 5px;
}

.dominionator-option {
  margin-right: 5px;
}

.dominionator-set-name {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.select-form-header {
  text-align: center;
  max-width: 480px;

  -webkit-column-count: 6;
  -ms-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;

  -webkit-column-rule-style: none;
  -ms-column-rule-style: none;
  -moz-column-rule-style: none;
  column-rule-style: none;
}

.column {
  width: 50%;
  float: left;
}

.dominionator-input-form {
  float: right;
  -webkit-column-break-inside: avoid;
  -webkit-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
}

@media only screen and (max-width: 999px) {
  /* rules that only apply for canvases narrower than 1000px */
}

@media only screen and (min-device-width: 481px)
       and (max-device-width: 768px)
       and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
}
