.hidden {
  max-height: 0;
  overflow: hidden;
  margin-left: -1000px;
}

.slideLeft {
  margin-left: -1000px;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
}

li {
  margin-left: 0;
  max-height: 200px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.set-name-list {
  list-style-type: none
}
